@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.header-hero {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 32px 0;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  text-transform: uppercase;
}
.nav-menu {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.nav-item {
  font-size: 18px;
  color: #e5e7eb;
}

.nav-link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  margin: 0 auto;
  padding: 100px 0;
}

.title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 28px;
}

.signup {
  background-color: #3882f6;
  font-size: 18px;
  border: none;
  color: #e5e7eb;
  padding: 12px 24px;
  border-radius: 5px;
}

.hero-image {
  max-width: 50%;
}

.features {
  background-color: #ffffff;
  display: flex;
}

.features-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 75px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.feature-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.card-section {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card img {
  max-width: 150px;
  border-radius: 10px;
  margin: 0 auto;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote-inner {
  max-width: 750px;
  padding: 75px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.quote {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1f2937;
}

.author {
  text-align: end;
  font-weight: 900;
  font-size: 18px;
}

.cta-section {
  padding: 75px;
}

.cta-box {
  max-width: 1000px;
  background-color: #3882f6;
  margin: 0 auto;
  padding: 32px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 250px;
}

.cta-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cta-title {
  color: #ffffff;
}

.cta-subtitle {
  color: #ffffff;
}

.cta-btn {
  background-color: #3882f6;
  border: 1px solid #ffffff;
  padding: 0 24px;
  border-radius: 5px;
  color: #ffffff;
}

footer {
  background-color: #1f2937;
  text-align: center;
  padding: 32px;
  color: #ffffff;
}
